name: Validate Version

on:
  workflow_call:
    inputs:
      git-ref:
        required: false
        type: string
        default: "main"

jobs:
  validate_version:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git-ref }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .
      - name: Check Version
        run: |
          # Check if the tag is the same as simple_typing_application.__version__
          $git_ref="${INPUTS_GIT_REF}"
          $parts=$git_ref -split "/"
          $tag=$parts[-1]
          echo "extracted tag from git-ref: $tag"
          python -c "import os; import simple_typing_application; assert simple_typing_application.__version__ == '$tag', (simple_typing_application.__version__, '$tag')"
        env:
          INPUTS_GIT_REF: ${{ inputs.git-ref }}
